{
	"DestinationName": "DEST_SAM2511_PPROP",
	"LanguageURLParam": "sap-language",
	"OfflineEnabled": true,
	"OfflineOptions": {
    	"ServiceOptions": {
      		"supportsBind": false
		},
		"StoreParameters": {
      		"EnableIndividualErrorArchiveDeletion": true,
            "EnableRequestQueueOptimization": true
    	},
		"CSDLOptions": [
			"retainOriginalText", "retainResolvedText"
		]
    },
	"Headers": {
        "SAP-PASSPORT": "/SAPAssetManager/Rules/Common/Passport/GetSAPPassportHeaderValue.js",
		"x-app-info": "/SAPAssetManager/Rules/ApplicationEvents/AppInformationHeader.js"
    }
}
